
h1{
    color: blue;
    font-weight: bold;
}
.content_sec{
    display: flex;
    justify-content: center;
}
.text{
    margin: 90px 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
nav{
    margin: 10px 0; 
    top: 0;            
   width: 100%;         
   background-color: hsla(0, 0%, 100%, 0.598);
   overflow: hidden;
   z-index: 1000; 
    
}
nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content:center;
    
   
}
nav ul li{
    display: inline; 
}
nav ul li a{
    display: block;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    margin: 5px 5px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 100%;
    font-size: 1.5em;
}
nav ul li a:hover{
    border-radius: 20px;
    text-decoration: underline;
}
.navbar { 
    list-style-type: none; 
    padding: 0; margin: 0; 
    display: flex; 
    justify-content: space-around;
}
.toggle-btn 
{ 
    background-color: #333;
     color: white; border: none; 
     padding: 14px 20px; 
     cursor: pointer; 
     display: none;  
     margin:10px 10px;
    }
   
.altr,.altr2{
        text-align: center;
        margin: 20px 0;
    }
    .altr2{
        margin-top: 10px;
    }
.altr img{
    width: 300px;
    height: 50px;
}
.altr2 img{
    width: 350px;
}
.about_text{
    margin: auto;
    display: flex;
    width: 1000px;
    justify-content: center;
}
.about_text .inner_text{
    width: 400px;
  margin: 30px 30px;
}
.inner_text{
  
   font-family: Georgia, 'Times New Roman', Times, serif;
   text-align: justify;
   font-size: 1.1rem;
}
.first{
    margin-left: none;
    
}
h2{
    text-align: center;
    font-weight: bold;
    color: blue;
    font-family: cursive;
}
.awards{
    display:flex;
    justify-content: center;
}
.imge{
    width: 247px;
    height: 250px;
    border-radius: 20px 20px 0 0;
}
.award_inner{
    width: 250px;
    height: 500px;
    border: 2px solid black;
    margin: 20px 20px;
    border-radius: 20px;
    text-align: justify;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
     transition-delay: 0.3s;
}
.award_inner p,h5{
    margin: 15px 10px;
}
.award_inner p{
    font-size: 0.88rem;
    font-family: 'Times New Roman', Times, serif;
}
.award_inner:hover{
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
    transform: scale(1.01);
}
.sec_achivmements{

 border-radius: 30px;
 width: 80%;
 height: auto;
 margin: auto;
}
.achive_text{
    width: 800px;
    text-align: justify;
    margin: auto;
}
.achive_text p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.05rem;
    border: 2px dashed black;
    padding: 10px 10px;
    border-radius: 20px;
}
.achive_text h2{
    
    text-align: center;
}
.sec_book{
    width: 1000px;
    margin: auto;
}
.book_inner{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(120px, auto);
    grid-gap: 20px;
    
}
.book_inner .books{
    margin: auto;
    border: 2px solid black;
    width: 250px;
    height: 475px;
    border-radius: 20px;
    margin:auto;
    background-color: aliceblue;
   
}
.book_inner .books h5,p{
    margin: 10px 10px;
}
.book_inner img{
    width: 100%;
    height: 250px;
    border-radius: 20px 20px 0 0;
}
.in_b{
    width: 90%;
    height: 219px;
    border: 2px solid black;
    margin: auto;
    text-align: justify;
    border-radius: 0 0 20px  20px;
    background-color: white;
    border-radius: 5px;
}
.book1{
    background: linear-gradient(to right, rgb(248, 235, 243)0%, rgb(210, 177, 195)100%);
}
.book2{
    background: linear-gradient(to right, rgb(0, 0, 0)5%,brown 20%, rgb(243, 243, 243)80%);
}
.book3{
    background: linear-gradient(to right, rgb(251, 248, 248)20%, rgb(178, 164, 252) 80%);
}
.book4{
    background: linear-gradient(to right, rgb(118, 8, 8)10%, rgb(73, 49, 193)90%);
}
.book5{
    background: linear-gradient(to right,  #C19A6B 100%, rgba(250, 249, 255, 0.437) 0%);
}
.book_inner .books:hover{
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
    transform: scale(1.01);
}
.in_b a{
   text-decoration: none;
   margin: 60px 60px;

   padding: 1px 8px;
   margin-bottom: 4px;
}
.name_book {
    margin: 50px 0;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: blue;
    font-size: 1.7rem;
    
}
.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.name_book h4{
    font-size: 40px;
}

.footer {
    margin-top: 20px;
    background: #222;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
  }
  
  .footer-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
  }
  
  .footer a {
    color: #ffdd57;
    text-decoration: none;
  }
  
  .footer a:hover {
    text-decoration: underline;
  }
  
@media screen and (max-width: 2038px) { 
    .response {
         flex-direction: row;
         align-items: end;
         } 
     .content_sec{
        justify-content: center;
        justify-items: center;  
        
     }
    .text{
        justify-items: center;
    }
     .image {
        margin-left: 65px;
     }
     .award_inner{
        margin: auto 5px;

     }
     
}
@media screen and (max-width: 600px) { 
    .response {
        display: none;
         flex-direction:column;
         align-items: end;
         } 
         .response li {
             width: 100%; 
            } 
     .content_sec{
        display: inline;
        justify-content: center;
        justify-items: center;
        
     }
    .text{
        justify-items: center;
    }
     .image {   
        margin-left: 21%;
    
     }
     .response.active{
        display: flex;
     }
     .toggle-btn 
     { 
        display: block; 
     }
     .about_text{
        display: inline;
        margin: auto;
     }
     .about_text .inner_text{
        width: 90%;
      margin: auto;
     }
     .awards{
        display: inline;
        margin: auto;
     }
     .achive_text {
         width: auto;
     }
     .award_inner{
        width: auto;
        margin: 5px auto;
     }
     .imge{
      width: 100%;  
     }
     .sec_book{
        width: auto;
        margin: auto;
     }
     .book_inner{
        display: inline;
        margin: 2% auto
     }
     .book_inner .books{
        width: auto;
        margin:5% 9%;
        height: auto;
     }
     .in_b{
        height: auto;
        margin-bottom: 5px;
     }
    .awardratna{
        height:auto;
    }
    h2{
        font-size: 1.8rem;
    }
}

